{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Reset your password{% endblock %}


{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-8">
            <div class="card">
                <div class="card-body border-top border-success">
                    <div class="alert alert-success">Password reset email has been sent.</div>
                    <div class="border p-3">
                        A password reset email has been sent to the email address on file for your account, but may take several minutes to show up in your inbox. 
                        Please wait at least 10 minutes before attempting another reset. Please, also check your spam folder.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}