{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock %}


{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-8">
            <div class="card">
                <div class="card-body border-top border-primary">
                    <h5 class="text-primary text-uppercase mb-3">Register Now</h5>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="row justify-content-end pr-3">
                            <button type="submit" class="btn btn-primary col-2">Register</button>
                        </div>
                    </form>
                    <h6 class="text-muted">Already have an account?
                        <a href="{% url 'account_login' %}">Login</a>
                    </h6>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}